body{
  background-color: rosybrown;
  font-family: helvetica; 
  color: seashell;
  border: 5px double seashell;
  border-radius: 15px;
  margin: 10% 10%;
  padding: 15px;  
}

.title{
  background-color: red, .10;
  text-align: center;
}

.expheader, .eduheader {
  text-align: center;
  text-transform: uppercase;
  border-bottom: 3px solid;
  background-color: rgba(0, 0, 0, .10);   
}

div img{
  width: 10%; 
  transition: width 3s;
}

img:hover{
  width: 150px;
}
